<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ejs file</h1>
    <div>
        <% data.map((items)=>{%>
      <h1>name: <%=items.name %></h1>
      <h2>job:<%=items.job%></h2>
        <%}) %>
    </div>
</body>
</html>